/* define colors */

:root {
    --black: #000000;
    --white: #ffffff;
    --background: #242424;
}


/* custom scroll-bar */

::-webkit-scrollbar {
    width: .9em;
}

 ::-webkit-scrollbar-track {
    background: #1d1d1d;
}

 ::-webkit-scrollbar-thumb {
    background: #2a2a2a;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #585858;
}


/* main style */

html,
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--black);
    color: var(--white);
}

main {
    padding: 3% 5%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
}

h1 {
    margin: 0;
}

abbr {
    text-decoration: none;
}

.download_link {
    color: rgb(78, 155, 248);
    font-size: 0.85rem;
}

.download_link:hover {
    text-decoration: underline;
}

.lyrics {
    padding: 1rem 3rem;
    min-width: 30rem;
    background-color: var(--background);
    font-size: 1.25rem;
    border-radius: .35rem;
}

.lyrics h1 {
    margin: 1.2rem 0;
}

#lyrics {
    margin-bottom: 1.2rem;
}

#searchBox {
    padding: 5px 10px;
    border-radius: .35rem;
    width: 20rem;
}

#searchResults {
    margin-top: -1.8rem;
    width: 20rem;
    background-color: var(--background);
    padding: 5px 10px;
    border-radius: 0 0 .35rem .35rem;
    display: none;
}

#searchResults hr {
    margin: 10px 3px;
    height: 1px;
    border: none;
    background-color: var(--white);
}

#searchResults div div {
    cursor: pointer;
}

footer {
    margin: 0;
    padding: .6rem 0;
    font-size: .6rem;
    text-align: center;
}

a {
    color: var(--white);
    text-decoration: none;
}

@media (max-width: 768px) {
    main {
        padding: 6% 0;
    }
    .lyrics {
        padding: .8rem 1.5rem;
        font-size: 1.05rem;
        border-radius: 0;
        min-width: 0;
        width: 87.55vw !important;
    }
}