/* define colors */

:root {
  /* static colors */
  --black: #000000;
  --white: #ffffff;
  --lightBlue: #68aafa;
  --darkBlue: #2170d0;
  /* dynamic colors */
  --background: var(--black);
  --text: var(--white);
  --primary: #242424;
  --buttons: #2a2a2a;
  --buttonsHover: #585858;
}

/* custom scroll-bar */

::-webkit-scrollbar {
  width: 0.9em;
}

::-webkit-scrollbar-track {
  background: var(--primary);
}

::-webkit-scrollbar-thumb {
  background: var(--buttons);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--buttonsHover);
}

/* custom text select color */

::-moz-selection {
  color: var(--white);
  background: var(--darkBlue);
}

::selection {
  color: var(--white);
  background: var(--darkBlue);
}

@font-face {
  font-family: "Gill Sans MT";
  src: url("/files/fonts/Gill\ Sans\ MT.ttf");
  size-adjust: 110%;
}

/* default css */

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: "Gill Sans MT";
  background-color: var(--background);
  color: var(--text);
  box-sizing: border-box;
}

main {
  padding: 3% 5%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

h1 {
  margin: 0;
}

a {
  color: var(--text);
  text-decoration: none;
  cursor: pointer;
}

abbr {
  text-decoration: none;
}

footer {
  padding: 0.6rem 0;
  margin: 0;
  font-size: 0.6rem;
  text-align: center;
}

.no_select {
  user-select: none;
}

/* loader */

.loader,
.loader:before,
.loader:after {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: loadAnimation 1.8s infinite ease-in-out;
  animation: loadAnimation 1.8s infinite ease-in-out;
}

.loader {
  display: none;
  margin: 2rem auto 5rem;
  position: relative;
  color: var(--text);
  font-size: 10px;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 3.5em;
}

@-webkit-keyframes loadAnimation {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes loadAnimation {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* main elements */

#piesni {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 90%;
}

#hymnBook {
  height: 2rem;
  cursor: pointer;
}

.specialButton {
  padding: 5px 10px;
  border: solid 2px var(--buttonsHover);
  border-radius: 0.35rem;
}

.specialButton:focus {
  outline: none;
  border-color: var(--lightBlue);
  box-shadow: 0 0 10px var(--lightBlue);
}

.searchHolder {
  display: flex;
  position: sticky;
}

#searchBox {
  width: 100%;
  height: 1.1rem;
}

#clearButton {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 0.6rem;
  color: var(--black);
  cursor: pointer;
  border: none;
  scale: 0.85;
}

/* search results */

#searchResults {
  z-index: 2;
  display: none;
  padding: 5px 10px;
  margin-top: -2rem;
  width: 17.5rem;
  background-color: var(--primary);
  border-radius: 0 0 0.35rem 0.35rem;
}

#searchResults hr {
  margin: 10px 3px;
  height: 1px;
  border: none;
  background-color: var(--text);
}

#searchResults div {
  cursor: pointer;
}

/* text section */

.lyrics {
  padding: 1rem 3rem;
  width: 30rem;
  background-color: var(--primary);
  font-size: 1.25rem;
  border-radius: 0.35rem;
}

.lyrics h1 {
  margin: 1.2rem 0;
}

/* default text */

.download_link {
  color: var(--lightBlue);
  font-size: 0.85rem;
}

.indented {
  text-indent: 3.5%;
  margin-top: -0.5rem;
}

#lyrics {
  margin-bottom: 1.2rem;
}

/* sides arrows */

#arrowLeft,
#arrowRight {
  display: none;
}

.bottomButtons {
  display: flex;
  margin-top: -1rem;
  justify-content: center;
  gap: 7rem;
  font-size: 0.8rem;
}

.bottomButtons div {
  background-color: var(--buttons);
  padding: 8px;
  border-radius: 0.35rem;
  cursor: pointer;
  width: 90px;
  text-align: center;
  justify-content: center;
}

.bottomButtons p {
  margin: 0;
}

/* desktop only */

@media (min-width: 1000px) {
  .download_link:hover {
    text-decoration: underline;
  }
  .download_link:active {
    color: var(--darkBlue);
  }
  .bottomButtons div:hover {
    background-color: var(--buttonsHover);
  }
}

/* mobile version */

@media (max-width: 768px) {
  main {
    padding: 6% 0;
    min-height: 100vh;
  }
  .lyrics {
    padding: 1rem 6%;
    font-size: 1.05rem;
    border-radius: 0;
    width: 88vw;
  }
  .bottomButtons {
    font-size: 0.65rem;
    justify-content: space-around;
    gap: 6%;
  }
}

@media (max-width: 345px) {
  #searchResults {
    width: 100%;
  }
}
