@import "reset.css";
@import "colors.css";
@import "app.css";
@import "menu.css";

:root {
  --rounded: 0.35rem;
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  background: var(--boxes);
}

::-webkit-scrollbar-thumb {
  background: var(--buttons);
  border-radius: var(--rounded);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--buttonsHover);
}

::-moz-selection {
  color: var(--white);
  background: var(--textSelection);
}

::selection {
  color: var(--white);
  background: var(--textSelection);
}

@font-face {
  font-family: "Gill Sans MT";
  src: url("/files/fonts/Gill\ Sans\ MT.ttf") format("truetype");
  size-adjust: 110%;
}

@font-face {
  font-family: "Brutal Type Medium";
  src: url("/files/fonts/Brutal\ Type\ Medium.ttf") format("truetype");
  unicode-range: U+30-39;
  size-adjust: 106%;
}

html {
  overflow-y: scroll;
}

html,
body {
  font-family: "Brutal Type Medium", "Gill Sans MT";
  font-variant-numeric: slashed-zero;
  color: var(--text);
  background-color: var(--background);
}

main {
  padding: 3% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  overflow: hidden;
}

h1,
h2 {
  margin-bottom: 4px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 0.7rem;
}

h1,
h2,
h3,
b {
  font-weight: 600;
}

button {
  padding: 3% 5%;
  border-radius: var(--rounded);
  background-color: var(--buttons);
  cursor: pointer;
}

::placeholder {
  opacity: 0.55;
}

.no_select {
  user-select: none;
}

.invert {
  filter: invert();
}

/* desktop only */
@media (min-width: 1024px) {
  a:hover {
    text-decoration: underline;
  }
}

/* normal mobile view */
@media (max-width: 768px) {
  main {
    padding: 6% 0 16%;
  }
}
