/* default style of menu pop-out */
.menuHolder {
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: 0.1s ease-in-out;
}

.darkBackground {
  position: fixed;
  top: 0;
  width: 105%;
  height: 105%;
  background: rgba(0, 0, 0, 0.55);
  overflow: hidden;
}

.menu {
  position: fixed;
  top: 5%;
  padding: 1.6rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 39rem;
  width: 92vw;
  max-height: 90vh;
  background-color: var(--boxes);
  border-radius: var(--rounded);
  overflow: auto;
}

/* default context box */
.menuContent {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.menuContent p {
  margin-bottom: 1.4rem;
  font-size: 0.9rem;
}

/* change theme */
.themeSelector {
  display: flex;
  gap: 1.2rem;
}

.themeSelector label {
  width: 3rem;
  height: 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: var(--rounded);
  cursor: pointer;
}

.themeSelector input {
  scale: 1.2 !important;
  margin: -0.5rem 0 0.5rem 0 !important;
  all: revert;
  cursor: pointer;
}

.themeSelector img {
  width: 2.8rem;
  scale: 0.9;
}

.themeSelector .black {
  background-color: var(--blackBG);
}

.themeSelector .dark {
  background-color: var(--darkBG);
}

.themeSelector .light {
  background-color: var(--lightBG);
}

.themeSelector .reading {
  background-color: var(--readingBG);
}

/* change font size */

.fontSize {
  margin: 1rem 0 -0.5rem;
}

.fontSlideBar {
  margin-top: -0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fontSlideBar .smaller {
  font-size: 0.8rem;
}

.fontSlideBar input {
  margin: 0 0.6rem !important;
  max-width: 20rem !important;
  width: 62vw !important;
  all: revert;
  cursor: pointer;
}

.fontSlideBar .bigger {
  font-size: 1.6rem;
}

/* favorite list */
.favoriteList {
  padding-left: 8px;
  width: 80vw;
  max-width: 35rem;
  max-height: 46vh;
  overflow-y: scroll;
  text-align: left;
  font-size: 0.9rem;
  background-color: var(--buttons);
  border-radius: var(--rounded);
}

.favoriteList::-webkit-scrollbar {
  width: 8px;
  border-radius: var(--rounded);
}

.favoriteList hr {
  margin: 0 6px;
  height: 1.5px;
  opacity: 0.2;
  border: none;
  background-color: var(--text);
}

.favoriteHandler {
  height: 2.65rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.35rem;
  cursor: pointer;
}

.favoriteHandler div {
  max-width: 32rem;
  width: 74vw;
  padding: 0.45rem 0rem 0.45rem 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.favoriteHandler img {
  margin: 0 0.6rem;
  opacity: 0;
  height: 26px;
  filter: var(--iconsFilter);
  transition: 0.1s ease-in-out;
}

.favoriteNoResults {
  padding: 0.45rem 0rem 0.45rem 0.8rem;
  height: 2.65rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: default;
}

/* action buttons */
.menuButtons {
  margin-top: 0.6rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-size: 0.85rem;
}

button.menuButtons,
.menuButtons button {
  padding: 0.55rem 1.4rem;
}

.menuButtons.alert {
  padding: 0.55rem 2.6rem;
  background-color: var(--darkRed);
  color: var(--white);
}

/* footer of menu with useful links */
.credits {
  margin-top: 2rem;
  font-size: 0.6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.credits hr {
  margin-bottom: 3px;
  max-width: 28rem;
  width: 76vw;
  height: 1px;
  border: none;
  background-color: var(--text);
}

/* only desktop */
@media (min-width: 768px) {
  .favoriteHandler:hover {
    background-color: var(--buttonsHover);
  }
  .favoriteHandler:hover img {
    opacity: 0.6;
  }
  .menuButtons.alert:hover {
    background-color: var(--lightRed);
  }
}

/* normal mobile view */
@media (max-width: 768px) {
  .favoriteHandler img {
    opacity: 0.8;
    scale: 0.8;
  }
}
